*.zip
banned-ips.json
banned-players.json
cache/*
eula.txt
commands.yml
libraries/*
logs/*
ops.json
permissions.yml
plugins/bStats/config.yml
plugins/WorldEdit/.archive-unpack/*
usercache.json
version_history.json
wepif.yml
whitelist.json
help.yml
plugins/Updater/config.yml
plugins/Essentials/usermap.csv
plugins/LuckPerms/libs/*
plugins/LuckPerms/translations/repository/*
SurvivalGames_world/advancements/*
SurvivalGames_world/playerdata/*
SurvivalGames_world/stats/*
versions/*
